node_modules/
dist/
*.tsbuildinfo
.DS_Store

# Prevent compiled outputs from leaking into src/
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/**/*.d.ts.map

# Debug env artifacts
SIMPLECOST_DEBUG

# Local env
.env
.env.local

# pnpm
.pnpm-debug.log
